
<html>
<head>
</head>
<body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div id="content">
  Carregando...
</div>
<script id="entry-template" type="text/x-handlebars-template">
  <div class="container geral">
    <div class="container" style="max-width:  800px;">
      <!-- CABEÇALHO -->
      <div class="row" style="padding-bottom:  5px;">
        <div class="col-sm-8" style="display: inline;float: left;width:80%;padding-left: 0px;">
          <div class="painel" style="height:  100px;padding:  0px;margin-bottom: 5px;">
            <h3>
              <strong>SAPOS</strong>
            </h3>
          </div>
          <div class="cabecalho" style="height:  40px;">
            <h3>
              <strong>{{nomeRelatorio}}</strong>
            </h3>
          </div>
        </div>
        <div class="col-sm-4 painel" style="display: inline;float: right;height: 145px;width: 20%">
          <h3>
            <strong>UFF</strong>
          </h3>
        </div>
      </div>
      <!-- MATERIAS -->
      <div class="row painel">
        <div class="col-sm-12 dados">
          {{nomeConsulta}}
        </div>
      </div>
      <table class="row tabela" style="width: 800px">
        <thead style="width: 100%">
        <tr class="row" style="width: 100%">
          {{#each colunas}}
          <th class="col-sm-{{block ../colunas.length}} dados"style="">
            {{this}}
          </th>
          {{/each}}
        </tr>
        </thead>
        <tbody style="width: 100%">
        {{#each data}}
        <tr class="row tabela" style="width: 100%">
          {{#each this}}
          <td class="col-sm-{{block ../../colunas.length}} rodape" style="">
            {{this}}
          </td>
          {{/each}}
        </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <style>

    .container.geral{
      color: rgb(51, 51, 153);
      padding: 0px;
    }

    .painel{
      border-style: solid;
      border-width: 2px;
      border-color: rgb(51, 51, 153);
    }

    .cabecalho{
      background-color: rgb(51,51, 153);
      color: white;
      padding: 0px;
    }
    .dados{
      font-weight: bold;
      margin-bottom: 5px;
    }

    .tabela{
      font-weight: bold;
      margin-bottom: 5px;
      border-style: solid;
      border-width: 2px;
      border-color: rgb(51, 51, 153);
    }
    .tabela .dados{
      border-right: solid;
      border-width: 1px;
      border-color: rgb(51, 51, 153);
      height: 100%;
      background: #e5e5ff;
      height: 50px;
      padding: 0px;
      margin: 0px;
    }

    .tabela .rodape{
      border-right: solid;
      border-width: 1px;
      border-color: rgb(51, 51, 153);
      color: black;
      height: 20px;
      background: #e5e5ff;
    }

    img {
      width: inherit
    }

    h3, h5{
      margin-top: 0px;
      margin-bottom: 0px;
      text-align: center
    }

    .legenda{
      text-align: left
    }

    .direita{
      text-align: right
    }

    table th, table td{
      text-align: center
    }

  </style>

</script>
<script>
    // Script para contar qual o tamanho de cada coluna para o Bootstrap Grid
    Handlebars.registerHelper("block", function(number){
        var num = 12 / number >> 0;
        return (typeof(num) == "number" && num >= 1)? num : 1
    });

    function mesNome(mes){

        switch (mes){
            case 1: return 'janeiro';
            case 2: return 'fevereiro';
            case 3: return 'março';
            case 4: return 'abril';
            case 5: return 'maio';
            case 6: return 'junho';
            case 7: return 'julho';
            case 8: return 'agosto';
            case 9: return 'setembro';
            case 10: return 'outubro';
            case 11: return 'novembro';
            case 12: return 'dezembro';
        }
    }
    function mostraData(data){

        var date = new Date(data);
        console.log(date);
        if (date == "Invalid Date")
            return "--/--/----";
        var diaInteiro = 	[date.getDate(), mesNome(date.getMonth() + 1), date.getFullYear()]
        var horaInteira = 	[date.getHours(), date.getMinutes()]
        document.getElementById("diaHora").innerHTML = diaInteiro.join(' de ') + " " + horaInteira.join(':');

    }
</script>

<script type="text/javascript">
    // Dados


    function keepHtml(unsafe) {
        return unsafe
            .replace(/&amp;/g, "&")
            .replace(/&lt;/g, "<")
            .replace(/&gt;/g, ">")
            .replace(/&quot;/g, '"')
            .replace(/&#039;/g, "'");
    }

    var data = [];

    var rawColumns = '[[&quot;Kadu&quot;, &quot;16467084748&quot;, &quot;010101&quot;]]';
    var columns = rawColumns;
    //if (columns[0] == '[' && columns[1] == '[')
    //	columns = columns.substr(1,columns.length - 2);
    columns = columns.replace(/nil/g, 'null');
    var parsedColumns = JSON.parse(keepHtml(columns));
    var row;
    row = new Object;
    row["name"] = parsedColumns[0][0];
    row["cpf"] = parsedColumns[0][1];
    row["enrollment_number"] = parsedColumns[0][2];
    data.push(row);

    var result = new Object;
    result.nomeRelatorio = "Generico";
    result.nomeConsulta = "BuscarAlunoMatricula";
    result.colunas = JSON.parse(keepHtml("[&quot;name&quot;, &quot;cpf&quot;, &quot;enrollment_number&quot;]"));
    result.data = data;
    result.diaHora = "09-28-2018 18:48";
    var code = $("#entry-template").html();
    var template = Handlebars.compile(code);
    var content = template(result);

    document.getElementById('content').innerHTML = keepHtml(content);
    mostraData("09-28-2018 18:48");


    // Imagens

    var imagens = [];

    imagens["sapos"] = "iVBORw0KGgoAAAANSUhEUgAAAZAAAACiCAYAAABvepveAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAALfhJREFUeNrsfU1wHEdyblH81XJFDoQgTIoS2bPSSgqvHBxoJYflF17MOF749BQEfHL4AsyJJxvAcU8gIvYO0D4xfMDgYsc7YRB8Eb4tm2uHd+Ot1hxGUM+kbD40d1d/1JIcUkuRIkXKnY2sQaKmuru6u7qnAeQX0THA/FRXVVfll5lVlblbMBgMBoORAru5CxgMBoPBBMJgMBgMJhAGg8FgMIEwGAwGgwmEwWAwGAwmEAaDwWAwgTAYDAaDCYTBYDAYTCAMBoPBYAJhMBgMBoMJhMFgMBhMIAwGg8FgAmEwGAwGEwiDwWAwmEAYDAaDwWACYTAYDAYTCIPBYDCYQBgMBoPBBMJgMBgMJhAGg8FgMJhAGAwGg8EEwmAwGAwmEAaDwWBsXezhLgjHhQvvOP6Lg//Svym6/tWRf7///gcd7jkGg7ETsIu7ICCKmv8C1yl8DSMLU0hS8fzrCvztE4vLPc1gMJhAtodlMe5fY/5V969KQbcGErnkX222VBgMBhPI1iONSbQyBg0PCeUckwmDwWACKR9pVJA0pktCGlFksuxfLZ9MPB6WDAaDCWSw1sYUEoc199SXXx4U33yzed/B0NA929VvsVXCYDCYQAZDHHNIHqkIAq6HD/f3yOLOnUPGv3/hhQdi796nAans2fONOHToqywE4/rXPC++MxgMJpB8iQOsjBkkj0SEAQRx9+7h4FW1LmzhxRfvB0QiXxOi7V+z7NpiMBhMIPbJA6yNBWHoqgLS+OSTEXHr1ouBpREDesYDXsOk/ym8P1yRay1gmYyM3OldCTDvX4s+kXR52DIYDCaQbMRRQ+Kox30XLIuPPz4ifv3rl6JIAwjCFevnNry///u/c9PW7W/+5m8dJBK4xvC1oiOT48e/ECdOfCKef/5rk6I9tEbaPHQZDAYTSDrymEHyiASQxY0brwTWhsY9BZo8COLgXIZPGLlq9j6pAInAjrDTOisFrJGTJz81dXG1kEjYGmEwGEwghsQBWvxKnNUhiQNcVRoAaSz7hDEwLR4tlCmxfibFoZ/BOsmrr/7GhEjAGpng3VoMBoMJJJ48QGu/KCLWOsDKuHnzWEAeGmvjnH8t5m1ppCATeU6lrlokb7yxZuLaavok0uKhzGAwmED05AHa+lLUd8BNdfXqa6qrCrT0eZ80Si9gfSKpI5GM0/fBGoErBnAAscnDmcFgMIFsJg8gjqkoqwOIAwhEtTh84ji71R4IEskctUjgfMlbb/1X8BoBcGU1eF2EwWAwgRiQR4jVAdbGbNlcVSmIBCwR2CjgJLBGtgyJ4KYCaFtciJkOKgSdIp+pX7+KMAt/0/Xr1cnh/nWLxeVSR0tt6RQ9V3EN0hHxOzg9vAbaf0wgOZDH9evVYL1DYt++veL5559v/uQnP2ltl4eDQgyskRn5Hiyy12rXgi3AW41EkBRhFxq8pgkxI8/lwM45N8tWa4O6Gu30E+tbvqs53P/bHJol+29VrO889HIkjEkU0I5hvVxSr24OdYJ6SBexk7IYVxl/O97aLyWBRJEHWBudzpubQowMDw+LkZEjYvfuIMHi/JkzZ85up4eEE3JFCl1YWAcSiXBplYpEsP5LIluOlcKEN9Z5LUF9G7bJLCcCUQHK1rwtItFZzSlJztqGFySOBaGsLVpCNS8S3ip4biuRB5wi/+Uvf0DJo/vSS8fcY8eOSvIAzJ0/f/6yfznb5SGhcKqiBhRsU4Z+UNZ9KIIda7jtedDkAWR+MQfyADgoIGzXuZawvpNbdGjBPLvst3cqq6XsXyuo5GR9HtLqvozPIavicjkn8hA5lssEkhd5wCvVsn/84x834FVshByRAhRIpLZdHhRoY/4F7VyklljIWZdSkAiSx1zOt6nnUObkDhIkMD6W0HpIRR6oINjuAycLuSH5RG77t4CxnU4gpXFhRZ0ul+RBFss76DbYZOL6hAG/n1HM4caZM2c6hnVQF069PIMY+veTwi9RLnWcVL1tzbBD66WXboV9HbIfTgyAPOo4gXN3w/jjoGm57kncVxITNg+nGrqwXANyMFWiuuiS6SaooySPvBW10SSL2FivNZF/plFQ6oaYQAZPHuNo/pqQR6TA8Elkk3A1IREU5HMh2mznP/7je93f/OaoGs9KTl4gmJv4f+yOEhI5WM1V0vP9mqxdoMa4JMuIIREoc7ZgArloaB1Avy1j33UitMkKlqeGgrG6DoL3ujxoIjMhEP9+uwzKcXCszRjcFnYvLiao44JhufIZe4qFPG1I1B6SSNewXqaWr4f1Ct2QQXZsybh241nIjQnEPnk4OGErWckjhkSqPol0NcIcJkGsmQyuomvXHJOQ7x0clH27XPA0/VKMxga/MQpRoprpMSQyUVQQRpx0a3kJXSx/nAigqsWFYFOhqMOQrZ05tggkzGoNG7t+maOWLcxm1EFev5wlYZa/Z970XJehBan1YiToS7mbMBHpbjeUYQ1kRUce0seflDwAPlHAgG0qpvxFDXlcNBy8gWB+990PTb4qowSvweSQi7x4vzjyEDjwLyLZxAmQYBIgQQZnYsgakYolJOsiYGJ5eGk1diALmLRoeTQs1308gtjT/nbgQCHuGoxdU5ho+LNxUSBwDJgoNtMJlAuTcd5MS/bQJv8Ct3BVbF57ZQIp2PpY0A1aIA2wPEjo9XZSYYMkQjWDGqyRwAADwe5bFHcTTpjeifAEmJJE4rdlJsH9KkgijsFghgHcc08pGw3UMlcKerQmE9i1cSNwPVjehhpW93mDIk6XfL6fM7QsTIR03Pe8BJp5UypBUXPCcEHdZOxZORiIiowrdjAGRiC47qB1FYCrSNltlUpT9UlkVmoIT58+FZ9++hncb+3FF+9PRbh6Yi2RhImgAiLxCSvpbiRjgY9aXlOSr+Z0fo9E/X4/W5KxV8ZDWGEE0MY+jqvzOC7glhW2hJ2JpWXsLkVLoJ3h+WyHsccEkoA8pDunD7DWQLamBgvgGf3KzVu3vhAfffSf4vbt28EbBsEJIwFRcpMC0uZSPH5i9LMaWmmmJBJofEC+QMJhrgcT91gBmMrjDEdOgnEVX1uWhOtAYDiPTJ6JyTbn1YTVWzb4Tt1SVzhZz74wBmuBzOgGqkbwZSIPMMevXv1w5datW4EFAoBT3Cnykm8ClJHUgoHDjzQb4q07z8Td+0aHjWdM1y78vpqVWqZCxCoWSjD2QIm4XJaJjO6rSow2bSLkpre4TDCxoEzW5xJZO4bfr1hUOmB98mzJLUYmEI31AQNA685RXC/zaf2U5GRs3wnoFO4nLdJYMTRPyct/8Jy4vvbU9KdJ3F8T0kQHMg5J4VvHEPmDdpXIQ2ywTrSQ9jCbJUS5r7oo5GA8enHCtYSWVW9eGHytE6eUZS0jAp7Bd2oWiQvmFYy9FVBkmEy2hgWyFCZcybqHmzYUOwqhtTBXwoEDj6w0AqwQCGyYBGARUIE+dGiXuHXbyAqZSmCFgLDrrYd8+OH3Q62QHE+pJxUgDlqlMJG/xQk9U7AgHjd0rSxnKGvQqBVURlqvgWfp/klIpILPC+TSXX/MXUbLZNtEsdg2BIIL530aDAhVElm3JwBTkAcMgpUoM/zQoa+stSfNQjwV6C8ffU78/98aWyHGQglPRAduF3CdhcTMkgcarQNJrJVRmMut0HI7dG5COcJ91dWcLjdpV1ljY5nUK478TZSOSwNu53KG39bERiyuu2ydlMsC0bpiIDS74rryEgoAcFnBYcRYt8yTJ7utNSbNWgoIdEmWB5/fJbr3jYOuJo2709saqfQvxXSOVsi8sLPbxcHnuoITOg+/dZhgbWvI0TMQsrWyabBYnzgSNsnNcXLATYmdB7ihxMb5DNU6WSqre3LbE0iY9QG7k4iG3El6qpOcxjaasBEH7RID3FgReTlCAQJd1gNI5MFDIxJJJJBQEMxqLLyirBAQtA1hd8ukjNS6ZssiQTKK232VRsMtjRWCGxVMAguatCtPAWrzUF5D2D/kN4Vj7yxTxzr2FHgvrfVBF5YFORCXYPInCiFtk0AAsA4SEVY9fKZ03hTvvXdFDB1+Kh58BURif+KCJub3UZDYBwjk5MlPdYQHVshiHrlDYNHZvz+ExrCdj6GCFomN+FNh9epGBEdsifidbONJx3MKYogSZIdR6XCEebyp1oDl0T2LY6/r908DFSTbEaHn/LJh00VjpyeVKsQCwXMHWuuD5PZIk2EucZ4JuJ9BPCtjpN0SDFYBkGflUO7hyIIT1NDmCCtkKq+b42ld2Bk2igLK5oSbwnWvLAjdfRVj3cUdfHMKcGPNRVwzwjwjIKC53YQhpkAAkq3iPPAsFh94Pnb62khRLqxpA+tjPkmBqH0lnqAgSNNYDGHIsigPAv3rhweDMyEGcFNOIlf+Fu4XthZSwGQG92QTw18DoSwKOyejp9LmD0/pvjL9vJB+tYAukocrtilQiTmLsdNGUda4FpSZmsjJBbxVkLsLCxdpx21aH7iQldosBeJKG8rElgUi8dGNI+KVE783+WoWfy5MmLq0QjRnWBxYo3r//Q/cgiZ0m2rwSAB10R+qPYkmnqbuadxX1EJZMii/WeL5D302u5PCkWNbO2TsSe/ImEjnZp32y1jcqa6sIiwQ7RbJjz8+ktr6yKrZSfeRLSQ9D0Lx7TeVYCHdAKsZJo0rJ03E6fTJAU5qFzXEUXQ3zCZ0N9RTuhKMd1/p3CMifs2gMuDDkTprw8X5BnksGiUjj1ODIBSM7AxW8RASfhJlpCJ2cGrbIhbR+3zMoAkTQdZJYT5nfmBAIHAqHSLs2rBCiDWV7AHs+q4JgbgWrAOIxApRgQMXnuZEfim0Zdy9Be6txQS5IqQ7IakVWw/52PQcwapB/U6LBIEFE6KRoF9tWZcmxJ52q2/mk/IZx55UClpqwrYYOEwgOSDMfaVYH+eSlImapnPo0AtieHhYPHnyRDx48EDcv/9lL96VKeROqDRbcVUL5MaNXJ9T08LkaGGypAqQt4ZAKpAZsqikU4Z1bhqGDk9MIDFKCCyO2rTAmzn1jzuAx3JzwAL1XkFjr41jzyRu3I7NjZ63C0s7SRU3SlKBVQPyOHHihDh48KCoVCri+PHj4vXXv+8LxRGxe7f5QUHQxpWMh6ktkCwktGvXnjjrw7P0PIK+BgskpM1lzGdhqmAkdWEV5bKrbLPIr90cnkWS33lFNXQnZxosC4Gc1gltchajnWbxCYhDBRDHyMgR8dprr4oDBw4Yl6VJm5vaCkltBu76bri6d/MlmyZ7TxiH7EQrnS/XYDE7MVCzLPKk+OltJDNMxmPavjX5nVdwe13BGBiB9LkeFMGVeGEYzPYogti7d6+oVh3fKjBXgmyQSJYov2EBHqE+16871uLw0GiyYfGxSpIrJG8UTZTj2+i8gJFCk/QMjGmIkJ2eAXDHEAgKor5JoyRWSqVd7t+/P3IQgTUCbq0iSSQLgUBIFB1wYR4aYTN/h0vKNiL9LYIkgmUQO862xU4d9BiYkEjScVS3/IxLR6pMIBYGBNF83bR7p/fs2WNkuQCJ6NxdeZAIrIGkOVsSRh5KX9nM3rcqrRs1SyKiVAuCCdrdNSyvFuEqcVNeJgJkchvJDRNBnnQc5ZHl0AZMtNB7Yociz11YYzHWR5aQz22qlT/33GNx4IDnWx6/F8+e7RMPH74evAJOnHhF3LhxQzw2zCELJPKzn70t3n33w8RbfI8f/yLqnIUWUfdQ4nbBYbmmzckPVojmIGTZLBCT+nQTnGcIPfuBZwHSEt3dGGEDZ1WcpJGmSwrY5hx3Ajs4m2OiJJKDpCbzvmjlxXb+EbZADNHX8ffvf8dKp585cwYmYQv+PnjwqhgZ+SdRqVzyhfGvxOHDPw/+f+GFfw++K91ZSQDaOVgiSQMvgjCOsih0CHN9QR2U+1vxo1MXREj7KqbJq6IEgsXQ13OWJ3Da0CU2hNt2cWN1DPrcyPWKY9rERds2IV+ZjTRteBsFJgeWuzt5XSZPAnGiLBALnT4LpAGEARbIpkb5/wOZwOfrJHMw0XpIFhJ54401KwSiua/N0OuutEBMn11CwESfEuuhry9iQp5EZaIgWDKsy7JhmbWI8rJqtybbjbeTG8skesQUnj2K0vBNUzEYRatABUkGOlxLm10QMmIazre22MHIxYWFuT/6QNK5Zl50eumlf4jVTL/znY/E06cv+ML47eCMSNLDhkAiSQ8bAiHAll6Tk+mwZhJWrmKtUY3orIVHdFO2Dy5NHepZLETQFP0J6KGw7rkn/Pek5noFScajWiUR8GNIQCas7ybY6hvlvsoUywhD13sxhFfbLm4sUAD9trQNrKoZPAcDHoN7OPfhOZ9KYJEtJgy50kbh76AFO4fPRo69jlDcnkhmcrxOGiouXZE8DBMTiAEqMVp1pgmEBGWkjYMl8tVXkEZ2/eT6rVvJFrqB9K5dc8Rbb/2X8W9qtWvBOkrUYjwI7Tff9CLJS9evMBkx41oWdOgz0ayDHLZk5UypXaNqmxlPfPeSZhkiL/cVtYTiFJtpkXOekALRFBs5R+LkQVrrGUIdJe2vS5r7Oep4tBBtYH6brGmlRl4urFqE9SFQC8iCRDkgvvvdq8Hr8PCLiU6qS8DCuFL/aFb2yQEW4aOsltHR65Gfh+yQsuUG6YQ8l9DnlwJF5MU2jiQb4b4yye1hChNi3zaB99BqmxD5He6DZ9tI8Tu3gOa3+KR6gSltHz06oE7atNbHuEjooz9wYD18D5AHWCFpkDR6L+yuAteXurUXFtmDTITpw8DXsy5OU3dNEmIs0SSG+jcSWmJhC6JtW6G4URuNa7dTtnzpGdsMQn40h+cNbqvRNM8mwVmVLIpLUzByI5C+sMxPnuzWasApEBsW4u79zTnGd+/+UuzdezuTFRJhEYQCyAJcX3/+5/83sEiAOP7sz35ltD04ZA0kThgmtkJCXGU1C4LFQxdHW9jLQghlgs+5ajGCs+2zBVsqX7otSwRCw6M1klVww3gZTeG26hPyaBHaso5kpN4qWx7E25JTuX1rIBZzkccKt317hfjt58/Ey3+wwY/79n3qk9hwQB4QjPHu3WQyLYumDq6qpBZHzGFGG/m2uxHPxVbolBZOOrnXXy6eOvh33H08vMAd5qbduYcafyekjrZ30bQNCMLEgnS3mjCRicKwv2GMjhk8Z5ngST5jz1JdXNmH5PDoKWGeJ76rqduOzn+uQy4JuS9ceAe25tVVFxBxA1XTDhS/7G9NvveLK9+It/9wT0Am64Lyh8FurHVr6Im4fv2jxPf+i7/4t0IeCpDHT3/6x3Ffa2TZCg3ba+EZwY6xd9652vf5++9/sKuoQajs2e/upAx5OwV43qNWtmdMdl9R4mEM2AIxcW/kij96fbe4+p9PfRJZd1ft3/9Jj0Ag4CJYIbCtt4wwtNZOZ9RSS6NN8aTd/kDt3S1hvaSVy0iB57ZrwyDL39ChXeL6mv7cR6UylKi8LOHac0LW3TxXePgzGIydRiDGpm/15eeCBfW13z7r+wwskH3Sv2WAI0dul60fttVuHgaDwQRSKgIB/MmpPeLz28/E/7txT3zz9OvUVggESiwhslghJ3n4MxiMLUcgGYMCJj6gBiSyZ8+X4lfX/rf4/cPf9d43jY/16qu/yZw3PQkS3CtL6HWHhz+DwdiKFkgW10uqcwVvfX+3+B9vPxK//nxVfHbnWvAeLKbH5QuBMxsnT35aaOckCCNf5yHMYDC2G4F0MwjFSLz//gfyQE9ijAzvEv/zT5+Jocol4X32z4FLK8oKAUsADgIWaX1ImIaFzxq2OuR8Cu93ZzAYAyOQvh0+e/du2g2V9aDafBYhB4vrf/r2b8WuPf8oKkO3tSfTYdfVj37079aILy8CyWCFRFmBfA6DwWDEorBzIAcOPFKFV+oTwGCFXLjwDuRfmMtSp1eOgWXxU98i2R+kj5Wnv4E8MsSqsgK4v0lIeJF+HaRi0zJkMBhsgdhCJ0ajzrwDyCeRs7Y0ZagbrHPAYjlcgyaPhII9TbKcWohlyBYIg8EYuAXSDROKeMrasXQfCOB2WWzDHUUJCKRimnuawKGWjgaZGRRDREwTgoP6rcoIukoe7NZWz6sAme/wTzdjiJmz5F/PQu4Xq/XEHZQy10Y7KiRJRK5zbbv874/jeOlmDViI9ZwLG38W+3MK55P1ZxVz3zr2U0eGYxlERIdcLBDfOnDDNH1E3dJ98s5HMDBAXyVYB0lqhdQ0ViGFm3FwO0jsM2IjIyEIhyUiwOo4wedMFQBMc1vWw5OyLfUM/VYj5cirVPVERcXDMuLy8tQ17ZnDcXBRI/CXUOnIOv6grLWQ8bdguT8nsU2FRVjGNkD/XcZ+XBF2InSXg0CklqG+QbVdW4LAJ5G88hEMHDm60sZirJyshAyTVW6UaCHJS5wmJDWPl2c4adbENkrIFCJwN1mKORCm7PPU8wU17Qmsn2mmwZbYvPmlrrRtQWzkecnqQp3RjD85xmYynkMrA2bIc3SwrQNJrZvnInpH1SwPHfpKnSxWfO1oiTQuXHjnbE5a20AAi/mQDdFQ8CQRCPUIgur6/ZmVQOgEXcb82S7et4ZCyNXVmUZHVUzymQhrR/d9VSOtEZNf/u+prjOyLTo2YiwKwEqU64CU5xm46caIu6USNU/UNpn2if//2ai2GLbbwTomyf8hx4Egc7SiENuyCNmhSeqXpB+FTPxErDtpgbuaNvUCvUaNAzp+MlqblbBxG/MMd5HP4bOO6sJWoh938gpFnyeBXFK1RUVgwUO2mpgFFtZ9EmmhNrPlNdWRkTt5mL91SlC23VcaLPj3nMCEQ7QelOwbKIhWqBbuf8dDIUXdDnP++2NQnv8KLo8p8v0gRzpoyEr5PYHsv9/Ge8j/IfPdLE7oi1SAyfvrBCpaRDP4dydEQKjluWo/aCw3AN1h2JsnEW2al8RA66X2Cf4v0yEEv8F6rlBlD9vT0AkdtXzah4bjQVfmReW59yyRkPrF9aNDlFhqAbn0fdIXHRS28zg+1Pv1xgFxz1Z07aHPCAW9+n8Fx0Ut4hnFPcO+dBn+e03y+YwyZ+C92TwSYeXpwnJjhGI9j5uC9uxfEyiUtrRbCw4w5rDNth5Tto1c5i0ysWCirMFEinEdTJEx0UTtzsHJt6yMq2VcvJwi9+vgpF4IqY9HhDStn5yoc1IDx/t38f7TEW4EKXx0mugKltchilI9zOWDC8i0jZ2YeUK/M02Ug94CN+2TiL6Xa1Bd4gap6foRhecM6dNF4haKc7VNKgQYCF/sD9nGRVLnFXxvCevXIfWrK/0VRiBdorWD5eLipZIYrfs06Q86DuaUcSJSuo2myP2apL1zZBzonuESrgHWSX/Ni43jEEvkGS2Q37eJIudsGQLBtYk+bYNYIZWsp6hj7u/6F5BIVREYWwpqTnULOB1j3WQmXXQDNBTBChPkYsQgrih/Sx+vunPmEv7vKG6K2bBxhdrxsvJ/S7n/Kt5vViEFJ8qKI/VU3Qfyd6t4v47qXolwu1D3Xtg8mSX3lZsL6qSMCdonInyjhRTELbRi3LB2K+0FK+lmyPMLE5xU+LbQshsjLr5ZsZFi2FH6UZKWvL/xfAaNHawNcqn9CfWoYvsvhYyDitIvLn4/qRu+IzavQ3WUcmshz1AQt9k8IY8rOgWRPKvZkM9K78KSwmhctUCuX69SYZarlYD+/OaFC+/MYl0mxRaKIWUzDwkK71oEgXSR+DMDzf1R1Kao73kJyUVFG7U/aUV46GZphdziJGnXtymqeE8zsadF8h1tcl0lTKMFl9ucgaCVY9JDAXdP+cxVSVoh46wLw/dCtHj1nlJLT7rW2CKEQ7e8ynp7RGbQ8SLdeYEli5/PYp+rFk2caysMq2RdJe04SEIgchfcnME8gvbuUubxYWVeaZ+bdL2Ssbl1LBCi1W0CbB0lrpPC1ilgod2/WmCVfPnlDxv37r0nHj8+VnoCgb4y2M5rSsLj0n0VQkxW8oODewkn9wxqaaNEY6yHEQ5+r0UGe9S2y65GKzbe1aXBAgqNboYywvqU1m05itix3RcV4XB6AEOvoqlnjVgRbZEsJh0sop/Fq2V6Xxw/E2SM19GSldq4S64OEdI9gYmkYupumstpHNDyqcvOTTq3iItrUaSMC7hVCKQd45ZxYnyZueCv//q8++DBW+7vfve/xGefTYpud0x89dXr4unTF0pJIhYX06dleSEBIlct3UfujZ8j5BC3s6eObg7QUqvk+zNxGjNxvYzhlUYbl5P6HJZnKjh0Z1Pob69gebJupyLuLYWfFIi9dSR1DQNJx+Z21MMaTTnM3QVo6sgwAxyN9eahIlJDYT5BSGYciAjIgVyzinLhpNiyq7r0bBNIjVhLsyJmzRHmheJ6oxaG7vceJXzFSrXuxs+VQHB7bR+JKMmZCjuAoyDQSJ492xeQB5DI55//lfjii78UYJ08eTJcGgIxWAeJdTvRwRfhvmpbqjIdxCtoRdQ1wlUVonNEA/RCBv1pon3Ke8wgOdbxSjPp5X3GUKmpG/b3pGpJozukS+o7Tuqmw2ny21EpENF9I0Istyk6d9DVQfvkrNi8AaATY72Ok5PgYc/JUwStjbm7qiiTY8Q16KnKSArPhzy8OpZw7NaU/jD9nM65cc19qVJQ1/ShOq4nwwgAy5+MGZtTKTwVpbFAtFotaL9EKI7nsTsgDmfOnHF1HQrE4VsnAZH84hd/YnoOY5BurK7hHu9goEE5IQTStlhlushJd5UE2xFDftMiv1khQnmWfC41uAWxsUNFup/k9xdT7nlvEUG9EkXKWL5L2qcTbrOkvitEOMxHWCBuiHDXubHmSJtdrFeL1HvOsE/OEQtA7hzrKuRF6yPLWRJ2XNDqc68r/besPBc5jloxZXaU51NP6DWR91P7bZlYQSsxysWK5r709xfV8pVnuEAIQG46cJXy6XbgOn6nRaz3OWLxWI9xVwSBaBNAKVbIQI7hixi/aKXiiKtXXxP/8i8/HDiRnDjxiYjRIKOsD0cOxIhyrLkjUHOsoptD+v5BIIB23SaTvIFXB38zKjZ2F8FVlf5y3Gk1IT9DgdhQ7jFK3Bi0/Nj/8XeyrAbeqxFBeBOkrg1ytYggGCV1a2L9uiFlybYIxaqQ5aoCvUr6dYJaMEqfNJQzGmo921jWrPKcOiHPdZR8r0rK80IEee8ZR5BxVfMcW8Q9qfZjNeowIZSJ/TAhNq8/zSp12dQXIeOgQccBeSa9Z6p83lY+ryrjTP28oYxL+gwD8hfrZ1CamvvPkvv32qXOFfx9Iw+5tKsI4XfhwjtLiikV4IMP3pIhy7s4KArfanv+/PmLUdrJ2prnWyQPepYAJJgaRAj0hw/3B0Sm03TjDgjJA3dg+UGOE836B5ydqQpGqaEeSuMe2RHPOjiPQhSvUqGolLY6czgInU7MuZkB9UGkFfLyy8d7f0Mk4Z///JS4ceOVwiup7F4zdj1R6wNC1ocsnp/jKctglAouWi9RZ3h2BoHg2YI+VwscKiTbSafLtBYiAXnTR0Y2u6+AQMB6kgmoigLNzb5v317xve9VOwZxgQKNFYgjJLd76hTBjMLhiY0dWozta32AHJTBQz1hd33SKoqUgKDp13VWyJ07P5BWCAi75oCskHrYh8PDL4pu9654/PhJ7z1wvf3sZ2+Ld9/9sDCXllz8PnDggKhWHUjFuxwzEGsm1gfulmOUHLguwGS//Z8zkMboVqhrUS4smSNEa4WQXUFTeYY3SWuFQM70o0f7Dx2CBfLLX/4gSIdbCNv7BPDqq/cleZhYDgsG1sciT1kGg1FqAiGafh/eeGONasdLA+qLSMvn0KEXgktHIp3Om4Xt0nrlldsBoYFZ6xNfN8L66AWpAyuPrQ8Gg7GlCSTMCpE5yRGOktazKCvEi9PGjx8/LoV3H2C7bxEksm/fp34dvgwlYyQPR+DaB6wxsfXBYDC2gwUSqumDlkzWEuYG4coSMbFvgDxOnAjfgVUUiVQq/9pGwguDPBAWWHchmGXrg8FgZMFA9pKHZQ6EbbKwpoC7mwZyNuT8+fPjQn/CtIdbt77wr/DwInBWJIcw7BSh5zboWQEgZbJVmkKGus8NmqQ3sJOkOYizPlH9FHWeAqP8zqtZ/MLet1An6C/ot0ZUlkPNszb6vvJbyKTY1d1Tfmby+xRjQpgeasNQHbCO56BiN1v0eYiU7ZT53a9gvbtZ641jzsVEavKZyaRg6lwDRXhMfc/2eB2UBSLQddKnQYMF8uabvbcrcYI8D/iaPU3CosXIyBExNBQeo+3aNScgwxzh+CQ8HjLheq6rEPIIrI8Cu7SBzxvqNrXFFKxNp5S3C1AAXcZ/O4KcYsZDpzMxv4/9jiUskecQliwsrz5yUDCnOYMBv1lGGVcpkPQamjHbyHMc7xnEAAbXiS8Am8iimwCaO2yRRVcQRKJcksf4C0QTB4ET9oWjR4+Khw8fiUePHvV9JndnvffeFZNQ7GkxSYkOt+wGEw4WzGu1a2G/m7eV88MEmAe7gwInSM+KGtoUCoWOnGDYhnG0PluoITuEeNokx8FZsZGK1MM0tjOo7bVkoDvU0OpEG2tp8qBrfyc28nB4pG6uKmhI/VzVEsDw2z3iFxiXKqxdScrWkEKd9EkL83dUsN6ObAsqGQ7WzcXfedj24D28dx2foUwR7GI59Dtd8iw9NVQ73n9GVRjDxoDSngq2A+7VksJc1y+k/bI9LbGRuliOpbBncZb0zRT+VsbP8rCt9LCzS6y1vrGF9ZF93iXWXiWqr2zMNdJ/fe/lgUFZIHJBfTHMBUTWQ6aUB1+EFQKTYiLqO7AeUq06oZaI3J2V42HDcZ+EHTIZg/zbQB5wNiVk11UH8sYX/ayJC6BCNEsZ/2wJ84c4qBWfwskrtc3LSDwQbvwyOWwqI7SewjJq+Lf8HZQ/RnKTw2enieZN0fc7co86qfOk6I9+ehnLhTIuakK7T4qNtKw0qmxYu5KUTVHHssewDbI9C3idwn5Q7yPr5YQoKZOavlCthDlsx5ImZe8cKb+u/G7TGAhp1z0cQ7PE9aXrlzqp4zR55jQgYdizkL+L6gv1no4ytk7hc6xgW1awT+hYjuurrFbTRbymot7bFgSCJEJTfW4CCEGivS8NgEQ6ImZrL5AI7Mw6duyodncWuLFgYT1HTFHygDfABRhysDGWFAuE1OSl1jepqec5ooWuio2oznQcwHvnCDlBboQK0Z5X8V40PaguRazud1q3BLWGSf1msXzZNhUuyVlSM2hXkrJVspZzStVslomr6pK0LJTfyv8vhUU40HwH6nQO7+uK/qjBNaX9JmMgzv0W2i8kzaxHgkhWwp5FxK2WlVcXx2aXEC8dW/N4Xwfb4yH5dQkhRfYV5v44i5eTYl5dwsuLeW9ru7AUTCC7bxrw0g1DFtWBRIRtsy+GRFrnz58/FefvHR4eFpVKRdy+fUfcv39/k1sLDhnevHksbCutDTfWaTkRYhbvm5jetyyQGl8XXRjgQmmghraCwt5T2unGTARXEcauMAs5rvtdETBtVxZAP95E7bdTIiWibwzEEIfMGDlfdCVRmI+L6BD/ci1J1rUi+pN0xcEh1m/idRO6SC7TKOexcF4aCwStEC9M0wdNWnHHDMISmRUGC1BggcDi+muvveoL8h+IN954PXBxwfXs2Y/yynbojIzcMSGPRYvJotJMQPnMOsTKaKNLwsPvyHSpsr+XiLY3byL4UCPuoGD2cFJ3iZuvQu4f9zsdDisZ7nquOfK+bsdORXk1aZdp2XGQLpMqCmzbi99dIigrhu3XjgHV3YqvY0R7dyz0i64uJoK9gs9rVX1G6LYaJ1kDa6gUzSp1i+wrJcNiR9PPMsNiVNKvQjFwAkESaYuQnUEhJFJo5F6fRJoi4c4lCMJ48ODB4Nq//1CQ8TAPAGnEkEcbXYWDIo9vifYrtUcgiBnc5TJFTGyZfAnea5FUuEvopqsZWAeu2FgwlppcF3+/gBO7Y/C7vn7Eeq0oWmcHy5XJgXRETXf0rJq0K0HZcbiHpEHL8IimrCJwJ5Gsj3W5/TbkOy10pcp2qPHZVtFtp66/6MYAbb/MSV7HMQS/nbfQL5ueBWkPXTeiwnkB79fF57WgjAk5tpZwbLnYFqj3ZU2bo/oqzpKEsu5iHVxRgiCLpSAQJJHQBPEaElnArYRFksgimqipzjF8/fUx8fjxMev1gjhiEeQRu46TI2TynuDCVK1dFA4yGREIiCHYgaMkFmqQBDq9hD3+30PENy+3Jm7ahirW10Rkwh2a3CpIFITlyclMzyNs+p1yD4H1mhAbyZ9apH5SwQhLdNQh7VqMaNemthiU3SLfp+2ZFRsJjsCFMUrK6JBkV8ua/pP39PAZNNQ2K9+ZJf1WVXdTYXtlsiyaeKlvDIS4ZGRCJppcTNcv2vaL/i2sfc8C2zMh+hOcVfH5dGWb/b+rmu8E40eOLay37LdRpc2hfRVjXUMbhvD3Mu1xV5lruvmXK0qXlCYs+RRALkqTMxYdHAiFHU47f/683I+e2JW2f/+nYnj4/xRV1aBv+LT5YJH08Bxj6z0LdNGCq3Aij7SxZcZzZauQL/CacZYIySECZuBakWFPYIsvurSqIuHhHLBCcloLYfIoLzoiZoGYsXWfBbrxHJHvRojSorRpMaMsEcD169VgdxMBmKPzAwh9AoMH/KdykS8SBw9eFYcP/5zJg8FgMIEMkkRgiyy4tMhhPdAAmnmfvowhE7CGTomNnRLSOgq2KqIbKy+LicmDwWAwgRASgfWG0F1XQB5AIkpSp2BXl0G610G1ac3EWkkIIM0JJg8Gg8EEslngghUSuesKCATcWg8f7qdvt8S6W8srWXsiSTEFWrh2xGAwGEwgGqEr485UoqwRWBeBS4lBVSoi8dtSF5pAkikBJ8xbPJQZDAYTSLTglSHe61HfAyvkxo1XdMmdXLG+97096LwUflvuimSnYVUAGU4UGVmXwWAwtiyBEOEL7p+5OAEsiQTcW4pFIk+vwklUtygyISHBJ2u1axCGJG1RwY4zXu9gMBhMIOlIxBHr6yL1uO8CeXz88ZHAIglJ9ASWySV87dgiFBJm+pTYCBwXAIIrRqSbjbI6mhgKn8FgMJhAMhLJlFg/GW7kDgICASIBq0RZcFcFNVzgHrpH/o+CJLJTSBTaUNEQjgUsj+PHvxBDQ/eSNBXCHyyy1cFgMJhA7JKIzBY2LRKsKwCZQPbDu3cPB695JX+Ck/NAFvI1IVpi3V3l8XBlMBhMIPkRCWj+sDYyleb3QChglcArXEAo9+9/x5hYZIgVIAlIhgWhV0KSO5nAReJweZgyGAwmkJJbJCYEQ8kE3FEZCCLK4jjHu6sYDAYTyODJZAqJpFbianpifXsxr3EwGAwmkBISiSNwC21JyARIA7YSL7O1wWAwmEC2HplAmsC6sOjmioEr1rcLt5k0GAwGE8j2IJQaWiUOkoojsgU7DCLv4nUTXnkxnMFgMIHsPEtFEglNZk/hiY0zIl22LBgMBoPBYDAYjAjs5i5gMBgMBhMIg8FgMJhAGAwGg8EEwmAwGAwmEAaDwWAwmEAYDAaDwQTCYDAYDCYQBoPBYDCBMBgMBoMJhMFgMBgMJhAGg8FgMIEwGAwGgwmEwWAwGEwgDAaDwWACYTAYDAaDCYTBYDAYTCAMBoPBYAJhMBgMBhMIg8FgMJhAGAwGg8FgAmEwGAwGEwiDwWAwmEAYDAaDsXXx3wIMAEmNUCBDNrpwAAAAAElFTkSuQmCC"

    imagens["uff"] = "/9j/4AAQSkZJRgABAgAAZABkAAD/4QBgRXhpZgAASUkqAAgAAAACADEBAgAHAAAAJgAAAGmHBAABAAAALgAAAAAAAABHb29nbGUAAAMAAJAHAAQAAAAwMjIwAqAEAAEAAABCAgAAA6AEAAEAAAAuAQAAAAAAAP/uAA5BZG9iZQBkwAAAAAH/2wCEAAYEBAQFBAYFBQYJBgUGCQsIBgYICwwKCgsKCgwQDAwMDAwMEAwODxAPDgwTExQUExMcGxsbHB8fHx8fHx8fHx8BBwcHDQwNGBAQGBoVERUaHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fH//AABEIAS4CQgMBEQACEQEDEQH/xACJAAEBAQADAQEBAAAAAAAAAAAACAcFBgkDBAEBAQAAAAAAAAAAAAAAAAAAAAAQAAEDAgMDCgEIBwQJBQAAAAABAgMEBRESBhMHCCEi0xS0dZVWFzcxQTKExBWFtUZhIzOk1BYYUUJS1YHRcpJTNFQ1NkNzg3QlEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwCqQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA6rvD3n6N3f2plw1LW9X6xtG0NHG1ZaipfEzOrIo2/6G53K1jVc3M5MUAmXXnGhqi4xyUmjLZHY4to9G3OqVlXVOjR7VicyJzdhC5zGqkjXbX53NVFTMoZje+IHfNedj1zVdbFsM2TqSsoMc+GOfqbYM/wA3kz44cuHxUDqVRqrUlRPJUVFzqZp5nOkmmkle573uXFznOVVVVVVxVVA+f8xX3/rpv993+sD9FDrHVdvqmVdBd6ukq4sdnUQTSRyNzIrVyvYqOTFqqgHc7ZxJ77rbQx0VPqiZ8MWbK6phpaqVczlcuaaoilldyryZnLgnInIgGqbvONGvgz02v7b1uGOCNtNX2mJrah8zOa91RFLMyJdonOxjyI1UwRio7mhT+mdV6b1Rao7rp64wXOgkwTbU70dkc5jZNnI350ciNe1XMeiObjyogHKgAAAAAAAAAHUN4G9rQWgaVZdR3OOGrdHtKe1w/rayZFR6syQN5yNe6JzEkfljzciuQCatecaGqLjHJSaMtkdji2j0bc6pWVdU6NHtWJzInN2ELnMaqSNdtfnc1UVMyhm154it9V3pW01XqqqijY9JEdRshoZMyIrcFkpI4ZFbzvmq7D5cMUQDrF03ga5u2y+1b/cLhsc2x61UzTZM+GbLtHOwxypjh/YB+D+Yr7/103++7/WB2e2b8N71tro62n1dc3zRZsramofVRLmarVzQ1CyxO5F5MzVwXlTlQDtFr4sN9tFXxVNTd4LnDHmz0NVR0zYZMWq1My0zKeXmquZMsicqcuKYoBvW7/jA0FqGqSh1HSyaWq5ZMlPNNJ1mjcjlY1iPqGsidE5XPcqq+NI2tbir/kA3oAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA+VXV0tHSzVlZNHTUlNG6aoqJnIyOONiK573vcqNa1rUxVV+AElb4uLyquMdRY93iSUdDLHJBVX+dix1TlV+VHUTUd+pa6NvJJIm053I2NzcVCZQAAAAAAAAH67XdrraK+K4Wqsnt9fBm2NZSyvhmZnarHZZI1a5uZrlauC/BQK13P8AFzarhDR2XeC/ql4mnSnjvMULIqHZJExGSVb1lVY5JJUdncyNI24ovNbiqBR9JV0tZSw1lHNHU0lTG2anqIXI+OSN6I5j2Paqtc1zVxRU+IH1AAAAADj7/f7Np6zVd6vVXHQ2uhjWWqqpVXK1uOCIiJi5znOVGta1Fc5yoiIqqBJe+Xi0uN7jrtPaHjkt1rWTImoklmhrpWxvje2SmSNYXU7XOY5q58znsdyoxcUAm8AAAAAAAAB2bQe8XV2hbzHdNO18lM5JGPqqNXOWlqmsRyJHUworWyNyyORP7zccWq13KBam5/iP0jvGqvshaeSy6j2bpW26eRskc7Wq5XJTTojNo5kbUe9rmNdyrlRzWucga0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADj7/f7Np6zVd6vVXHQ2uhjWWqqpVXK1uOCIiJi5znOVGta1Fc5yoiIqqBBe/Lfled5l5SONJKHStDIq2u1qqZnOwVvWanKqtdM5qrgmKtjauVuOLnPDLwAAAAAAAAAAAAoXh04i7zY7zbtJatuMcmkpI0pKOsq1Rrre5qOWH9cjVc6FzlSJUlXLG3KqOYxiooWVSVdLWUsNZRzR1NJUxtmp6iFyPjkjeiOY9j2qrXNc1cUVPiB9QAADhdY6xsGkLBVXy+VUdNSU0cjmMdJGySeRkbpUp6dJXRtkmkbGuRmPKBAu9ffXrLeRXu+1JurWOGd09tskOGxgxajGq96Na6aRGovPf8ABXOyIxrsoGfgAAAAAAAAAAABZXDnxI1Oqpn6Y1vVQMvic+23aR0FK2s2krY20qxpsm9YzSps0ibz2/FEc3F4UUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEN8Ue+KPWuqGafs1RHPpiwyO2VVTyPdHWVT2NSSZU5sbmw86OJyIv8Afc16temAYeAAAAAAAAAAAAAABTXCZvrpbXJS7t7vHJsrhVzyWq5y1KbKGSRjFZRpFJlyNkkY9Wqx65pXomTFyuAroAB8qurpaOlmrKyaOmpKaN01RUTORkccbEVz3ve5Ua1rWpiqr8APPXflvdqt5mrkuLIZKOy0Ea01ooXvVzkjVyudPK3M6Ns03JnyfBrWtxdlzKGdAAAAAAAAAAAAAAAW/wAL2+v+c7Emlr1NPPqyzQOkfWT/AKzrlG2RGNlWRGp+si2jI35+c7kfmcqvyhuoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABgvF5vFjsWgk0vQV8cV61BIxlTSsc9KhttTMs0iLGrcjZJGNhXPyPar2oi4OyhEoAAAAAAAAAAAAAAAAB6H7iN6NLvB0FRVstTHJqGhjZTX+nRU2jahuLWzuY1kTWtqWs2rcjcqYqxFVWKBooEq8aWv/APtGi7Xdv+JU6jtkK/8AtOokncif7ciR5v8AC9zfmKBKoAAAAAAAAAAAAAAADm9E6oqtK6us+o6VJHS2qriqXRRSrA6WNjk2sCyNR2Vs0eaN3IvNVcUVOQD0f0Xq+zax0vb9S2Z0jrdcY1fEkzFjka5j1jkje3l5zJGOauCq1cOaqpgoHNAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPNve1vAqtfa9ueo5VkbSTSbG108mKLDRxc2BmRXytY5W8+RGOy7RzlT4gdPAAAAAAAAAAAAAAAAANr4StZ/YG9aG2TzbOg1HA+hkSSfYwpUN/XUz1YvNkkVzFhjTkXGXkXlwULU1Zff5f0reb9sOs/ZFDU13Vs2z2nVoXS5M+D8ubJhjlXD+wDzW1Xqa66o1JcdQ3WTaV9znfUTYK9zWZl5sce0c9yRxtwYxquXK1ET5AOJAAAAAAAAAAAAAAAAAKq4IdU/wDkulJqr/g3Sgo8n/wVku0Rv/1m5XO/S1PnAVUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB0rfTqb+Wt1Op7u2SeGaOhkp6WelXLNHUVeFLTyNdmYrckszXK5FxRExTFeQDzgAAAAAABqu5jh71JvNhnuUNdBarBSTrSz10iLNM6ZItorYadqszZc8eZXvYmDubmVFQC0N3+6XQWgaVItOWyOGrdHs6i6TfrayZFRiPzzu5yNe6Jr1jZljzcqNQDt4HQNdbid2WsqCogrrNBQVtTP1qS8W2KCmrlmVyue50yRu2m0zOzpIjkXHH5yI5Ai/e7uN1duzqoX3FY6+y1kj2UN3pkckauarssU7XJ+pmdG3Pkxc1eXK52V2AZ0AAAAAH2pKuqo6qGso5pKarppGzU9RC5WSRyMVHMex7VRzXNcmKKnwAsriA3t0tXw9264W6WOGr1vHTwtgp6xFkgjVqTVzEViI6Zsbo+qzJg35+DsPmqEXgAAAAAA3Xc/wrak1pQUeoL/AFX2HpyqwlgjRiurqmFHMVHxsciMijlYr8kr1cvIjtm5jkVQrrSG7XQWjo2t01Y6S3StjfCtWxmeqdHI/aOZJVSZ53tzoi4OeuGCfIiAdgq6SlrKWajrIY6mkqY3Q1FPM1HxyRvRWvY9jkVrmuauCovxAw/evwo6N1TC6u0oyDTF8bmcrIY1ShqMIkbHG+Bio2n5zG/rIm/K5XMe5UwCQNdaF1JofUlRp/UFPsK2DnRyNxdDPC5VRk8D1RM8b8FwXDFFxa5EciogdfAAAAADs27XV8mjte2PUrXSNit1Wx9WkLGSSOpX/q6qNjZMGZnwPe1MVTDH4ovKB6XAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAATXxvX3Y6V01Ydhm6/XTV3Wc2GTqMOyyZMOXP13HHNyZfguPIEfgAAAAB3DdFoel1zvFs2l6ypko6S4SSrUTwtR0iR08ElQ9rM3NRz2xZUcqLlxxwdhgoeilgsFm09ZqSy2WkjobXQxpFS0sSLla3HFVVVxc5znKrnOcquc5VVVVVA5AAAA61vF0HZtdaRr9O3SONW1Mblo6p7Fe6lqkaqQ1MaI6N2aNzvgjkzNxavNcoHm3drXX2i61lquEWwr7fPLS1kOZr8k0L1jkbmYrmuyuaqYtVUA/IAAAAAHe9c3uqm3e7uLG5kaUlDbbjWxPRF2iyVt3qopEcuOXKjaNmXBPlXlXkwDogAAAAAahw67s7NvC3hpa71LI212+kfcqqmixa6pbFLFEkCyIqOja50yK5zedlRUTKq5mhf9JSUtHSw0dHDHTUlNG2Gnp4WoyOONiI1jGMaiNa1rUwRE+AH1AAAMg4nt2tBq7dxWXX9neNLwT3CgmdI5jNi1rZKyJ7Ua9HZ4ocWciLna3nI1XYhBQAAAAAAPS/dlV1VZu20nWVk0lTV1Nmt81RUTOV8kkj6WNz3ve5Vc5znLiqr8QOygAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAkvjjulBLddI2pkuNfSQVtVUQ5XJlhqnwxwuzKmVczqaRMEXFMOX4piEvgAAAABSHBHZKqbWmob418aUlDbWUUrFVdoslbO2WNWphlyo2jfmxX5U5F5cAsQAAAAAIQ4trJVW7fTcKyd8borzSUdbSoxVVzY2QpRqkmKJg7aUr15Mebhy48iBjQAAAAAfaarqp44Ip5pJYqWNYaVj3K5sUavdKrI0Vea1ZJHvwT+85V+KgfEAAAAALF4I7JSw6L1DfGvkWrrrkyilYqps0jooGyxq1MM2ZXVj82K/InInLiFHgAAAAB5l7wrXQWjX2pbVb4thQW+611LRw5nPyQw1L4425nq5zsrWomLlVQOvgAAAAB6Vbp/azRvcdt7HGB2oAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEV8avunau46ftlWBP4AAAAAVVwMfnb7r+uAVUAAAAAEV8avunau46ftlWBP4AAAAAAAAAAAAWrwVe1l178qOx0gG/gAAAAB5rb2PdPWXfly7ZIB1QAAAAAPSrdP7WaN7jtvY4wO1AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAivjV907V3HT9sqwJ/AAAAACquBj87fdf1wCqgAAAAAivjV907V3HT9sqwJ/AAAAAAAAAAAAC1eCr2suvflR2OkA38AAAAAPNbex7p6y78uXbJAOqAAAAAB6Vbp/azRvcdt7HGB2oAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEV8avunau46ftlWBP4AAAAAVVwMfnb7r+uAVUAAAAAEV8avunau46ftlWBP4AAAAAAAAAAAAWrwVe1l178qOx0gG/gAAAAB5rb2PdPWXfly7ZIB1QAAAAAPSrdP7WaN7jtvY4wO1AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAivjV907V3HT9sqwJ/AAAAACquBj87fdf1wCqgAAAAAAAAAAAAgDij99tTfQfw+nAyoAAAAALV4Kvay69+VHY6QDfwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARXxq+6dq7jp+2VYE/gAAAABVXAx+dvuv64BVQAAAAAAAAAAAAQBxR++2pvoP4fTgZUAAAAAFq8FXtZde/KjsdIBv4AAAAAAAAAAAAAAAAAAAAPlV1dLR0s1ZWTR01JTRumqKiZyMjjjYiue973KjWta1MVVfgB1r1Y3WecrH4lR9IA9WN1nnKx+JUfSAPVjdZ5ysfiVH0gD1Y3WecrH4lR9IA9WN1nnKx+JUfSAPVjdZ5ysfiVH0gD1Y3WecrH4lR9IA9WN1nnKx+JUfSAPVjdZ5ysfiVH0gD1Y3WecrH4lR9IA9WN1nnKx+JUfSAPVjdZ5ysfiVH0gD1Y3WecrH4lR9IA9WN1nnKx+JUfSAchZNb6Lv1U+jsd/tt1q441mfT0VXBUSNjRUar1ZE9zkajnImP6UA5oAAAAAAAAAA4q+6s0rp/Yfb15obR1nN1br1TDTbTZ4Z8m1czNlztxw+GKAcV6sbrPOVj8So+kAerG6zzlY/EqPpAHqxus85WPxKj6QB6sbrPOVj8So+kAkXi71DYL9vJttZY7nSXWkjs0EL6iinjqI2yJVVLlYr4nOajka5Fw/SgGHgAAAABSvBrqzSun/wCb/t680No6z9ndW69Uw0202fWs+TauZmy5244fDFAKV9WN1nnKx+JUfSAPVjdZ5ysfiVH0gD1Y3WecrH4lR9IA9WN1nnKx+JUfSAPVjdZ5ysfiVH0gD1Y3WecrH4lR9IA9WN1nnKx+JUfSAPVjdZ5ysfiVH0gD1Y3WecrH4lR9IA9WN1nnKx+JUfSAPVjdZ5ysfiVH0gEQcR92tV33z6huFqrILhQT9T2NZSysmhfkoYGOyyRq5rsrmq1cF+KAZoAAAAAFdcImt9F2HdtcqO+X+22qrkvM8zKetq4KeR0a0tM1HoyV7XK1XNVMf0KBuHqxus85WPxKj6QB6sbrPOVj8So+kAerG6zzlY/EqPpAHqxus85WPxKj6QB6sbrPOVj8So+kAerG6zzlY/EqPpAHqxus85WPxKj6QB6sbrPOVj8So+kAerG6zzlY/EqPpAHqxus85WPxKj6QB6sbrPOVj8So+kAerG6zzlY/EqPpAHqxus85WPxKj6QB6sbrPOVj8So+kAerG6zzlY/EqPpAHqxus85WPxKj6QB6sbrPOVj8SpOkA/R6j7vPNFo+Ztf+fpv2f+P9p839IH597HtZrLuO5djkA81QAAAAAAAAAAAAAAAFAcFXunde46jtlIBagAAAAASrxz/kn70+pgSqAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB/U+IGhf5IBc+9j2s1l3HcuxyAeaoAAAAAAAAAAAAAAACgOCr3TuvcdR2ykAtQAAAAAJV45/yT96fUwJVAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/qfEDQv8kAufex7Way7juXY5APNUAAAAAAAAAAAAAAABQHBV7p3XuOo7ZSAWoAAAAAEgcb1922qtNWHYZeoUM1d1nNjn69NssmTDkydSxxzcub4JhyhNQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAH9T4gaF/kgFz72PazWXcdy7HIB5qgAAAAAAAAAAAAAAAKA4KvdO69x1HbKQC1AAAAAAivjV907V3HT9sqwJ/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/qfEDQv8kAufex7Way7juXY5APNUAAAAAAAAAAAAAAABQHBV7p3XuOo7ZSAWoAAAAAEV8avunau46ftlWBP4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAH9T4gaF/kgF2bzaSqrN22rKOjhkqaups1whp6eFqvkkkfSyNYxjGornOc5cERPiB59+k+9PybfPDazowHpPvT8m3zw2s6MB6T70/Jt88NrOjAek+9PybfPDazowHpPvT8m3zw2s6MB6T70/Jt88NrOjAek+9PybfPDazowHpPvT8m3zw2s6MDj73ojWlhpWVl8sFytVJJIkLKitpJ6eN0iorkYj5WNarla1Vw/QoHCAAAAABQHBV7p3XuOo7ZSAWoAAAAAEV8avunau46ftlWBP4AAAAAchZNPX+/VT6Ox2yrutXHGsz6eigkqJGxoqNV6sia5yNRzkTH9KAc36T70/Jt88NrOjAek+9PybfPDazowOEvenr/YaplHfLZV2qrkjSZlPWwSU8jo1VWo9GSta5Wq5qpj+hQOPAAAAADlrFpPVWoNv9g2auu/VsvWeo001Ts9pjkz7Jr8ubI7DH44KByvpPvT8m3zw2s6MB6T70/Jt88NrOjAek+9PybfPDazowHpPvT8m3zw2s6MB6T70/Jt88NrOjAek+9PybfPDazowHpPvT8m3zw2s6MB6T70/Jt88NrOjAek+9PybfPDazowHpPvT8m3zw2s6MB6T70/Jt88NrOjA6/dLTdbRXy2+60c9vr4Mu2o6qJ8MzM7Ue3NHIjXNzNcjkxT4KB+QAAAAAObsmiNaX6lfWWOwXK60kciwvqKKknqI2yIiOViviY5qORrkXD9KAch6T70/Jt88NrOjAek+9PybfPDazowHpPvT8m3zw2s6MB6T70/Jt88NrOjAek+9PybfPDazowHpPvT8m3zw2s6MB6T70/Jt88NrOjAek+9PybfPDazowHpPvT8m3zw2s6MB6T70/Jt88NrOjAek+9PybfPDazowHpPvT8m3zw2s6MB6T70/Jt88NrOjAek+9PybfPDazowHpPvT8m3zw2s6MB6T70/Jt88NrOjAJun3p4/8Aht88Nq+jA716cbw/K93/AO0bL/kKn9p/g/Z/O/QBd4AAAAAAAAABgHGr7WWrvyn7HVgRUAAAAAFAcFXunde46jtlIBagAAAAARXxq+6dq7jp+2VYE/gAAAABQHBV7p3XuOo7ZSAWoAAivjV907V3HT9sqwJ/AAAAACquBj87fdf1wCqgAAAAAAAAAAAAgDij99tTfQfw+nAyoAAAAALV4Kvay69+VHY6QDfwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAONX2stXflP2OrAioAAAAAKA4KvdO69x1HbKQC1AAAAAAivjV907V3HT9sqwJ/AAAAACgOCr3TuvcdR2ykAtQABFfGr7p2ruOn7ZVgT+AAAAAFVcDH52+6/rgFVAAAAAAAAAAAABAHFH77am+g/h9OBlQAAAAAWrwVe1l178qOx0gG/gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGAcavtZau/KfsdWBFQAAAAAUBwVe6d17jqO2UgFqAAAAABFfGr7p2ruOn7ZVgT+AAAAAFAcFXunde46jtlIBagACK+NX3TtXcdP2yrAn8AAAAAKq4GPzt91/XAKqAAAAAAAAAAAACAOKP321N9B/D6cDKgAAAAAtXgq9rLr35UdjpAN/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMA41fay1d+U/Y6sCKgAAAAAoDgq907r3HUdspALUAAAAACK+NX3TtXcdP2yrAn8AAAAAKA4KvdO69x1HbKQC1AAEV8avunau46ftlWBP4AAAAAVVwMfnb7r+uAVUAAAAAAAAAAAAEAcUfvtqb6D+H04GVAAAAABavBV7WXXvyo7HSAb+AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYBxq+1lq78p+x1YEVAAAAABQHBV7p3XuOo7ZSAWoAAAAAEV8avunau46ftlWBP4AAAAAUBwVe6d17jqO2UgFqAAIr41fdO1dx0/bKsCfwAAAAAqrgY/O33X9cAqoAAAAAAAAAAAAIA4o/fbU30H8PpwMqAAAAAC1eCr2suvflR2OkA38AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwDjV9rLV35T9jqwIqAAAAACgOCr3TuvcdR2ykAtQAAAAAIr41fdO1dx0/bKsCfwAAAAAoDgq907r3HUdspALUAARXxq+6dq7jp+2VYE/gAAAABVXAx+dvuv64BVQAAAAAAAAAAAAQBxR++2pvoP4fTgZUAAAAAFq8FXtZde/KjsdIBv4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAABiHGHZKq47n1rIHxtis1ypa2qR6qjnRvSSjRI8EXF20qmLy4c3Hlx5FCGgAAAAA2XhM1RS2LfBS09UkbYr7ST2ts8sqRNjkerKiLDMnPdJJTtiazFMXPTDl5FC7wAAAAAivjV907V3HT9sqwJ/AAAAACiuCW118uvr7dWRY0FJalpaibM1Ms1VUxSQtyquZczaaRcUTBMOX4piFlAAIr41fdO1dx0/bKsCfwAAAAAqrgY/O33X9cAqoAAAAAAAAAAAAIA4o/fbU30H8PpwMqAAAAAC1eCr2suvflR2OkA38AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA6Bv+sX23ua1ZRbfq+yoXV20y58fs9za3Jhi39p1fJj8mOOC4YAedQAAAAAfrtN0r7RdaO62+XYV9vniqqObK1+SaF6SRuyvRzXZXNRcHIqAejW6XeBS6+0FbNRxLG2rmj2N0p48ESGsi5s7MiPlcxqu58aPdm2bmqvxA7eAAAcVqvU1q0vpu46husmzoLZA+omwVjXPypzY49o5jVkkdgxjVcmZyonygec28jXFVrnW911VVU0dHLcpGK2licr2xxwxMhiarnfOckcbczsExdiqI1ORA6yAAAAAFgcENi2OldS37b5uv10ND1bLhk6jDtc+fHlz9dwwy8mX4rjyBSgACK+NX3TtXcdP2yrAn8AAAAAKq4GPzt91/XAKqAAAAAAAAAAAACAOKP321N9B/D6cDKgAAAAAtXgq9rLr35UdjpAN/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAOK1ZYv5g0rebDt+rfa9DU0PWcu02fWYXRZ8mLM2XPjhmTH+0DzGq6Sqo6qajrIZKarppHQ1FPM1WSRyMVWvY9jkRzXNcmCovwA+IAAAAAdr3cbx9SaC1JSXe0Vc7KZk8Ulytscqxw1kMaqjoZmqj2Lix72tc5iqxVzN5QK00zxi7qbns47uyusM2wSSeSog6xTpNzUdDG+lWWV/K5crnQsRUTlyrggGl+rG6zzlY/EqPpAOlax4qt0emq9tDHWT36bl2z7MyKohj5rXNxnkkhifmR//AKTn4Kio7KoElb199est5Fe77Um6tY4Z3T22yQ4bGDFqMar3o1rppEai89/wVzsiMa7KBn4AAAAAAPRXcDYvsTc1pOi2/WNrQtrtplyYfaDnVuTDF37PrGTH5cMcExwA7+AAivjV907V3HT9sqwJ/AAAAACquBj87fdf1wCqgAAAAAAAAAAAAgDij99tTfQfw+nAyoAAAAALV4Kvay69+VHY6QDfwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABE3GBu/pdPa9pdR0KRxUmqY5JpqdmDVbWU2RtQ9GNYxqNlbLG9VVznOkV6r8gGCAAAAAAAAAAAAAAAAAHddzWhZtb7x7LY+r9YoFnbU3dHbVrEoYHI+ozyQoro9o1Nmx2Kc9zUxTHED0apKSlo6WGjo4Y6akpo2w09PC1GRxxsRGsYxjURrWtamCInwA+oACK+NX3TtXcdP2yrAn8AAAAAKq4GPzt91/XAKqAAAAAAAAAAAACAOKP321N9B/D6cDKgAAAAAtXgq9rLr35UdjpAN/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGdb8t0VLvM0iluZNHR3qgkWptFc9iOakitVroJXZXSNhm5M+T4Oa12DsuVQ89qukqqOqmo6yGSmq6aR0NRTzNVkkcjFVr2PY5Ec1zXJgqL8APiAAAAAAAAAAAAAAAAtrhG3Z3nSukazUN0lja7VkdHU0dEzBzo6WJsjoZJHoqtzTNqM2RPmtwxXMqtaG9AAAEV8avunau46ftlWBP4AAAAAVVwMfnb7r+uAVUAAAAAAAAAAAAEAcUfvtqb6D+H04GVAAAAABavBV7WXXvyo7HSAb+AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEt8Uu4GSpkl15pCgja5sdRU6rp2ysibliZtlrWRvytVyta/bZXZnOyuRiuV7gJPAAAAAAAAAAAAAAA3Dhw3EXPWN/odS3yiki0ZRSOnZLIyF0ddUU0jMKbZyqrnQucq7R+zc1cro8UdytC5AAAABFfGr7p2ruOn7ZVgT+AAAAAFVcDH52+6/rgFVAAAAAAAAAAAABAHFH77am+g/h9OBlQAAAAAWrwVe1l178qOx0gG/gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAjXf7wvfyrQS6p0Sk9XY4c8l1tkjtrNRsVyuSWF2COkp42rldmxexEzOc5uZWBOoAAAAAAAAAAAAa3w/bjZN5d5qprotXR6Vt8bkqbhTIxrpKpUbs6aN8qOajka7aPVGPwaiIuXO1QLpsFgs2nrNSWWy0kdDa6GNIqWliRcrW44qqquLnOc5Vc5zlVznKqqqqoHIAAAACK+NX3TtXcdP2yrAn8AAAAAKq4GPzt91/XAKqAAAAAAAAAAAACAOKP321N9B/D6cDKgAAAAAtXgq9rLr35UdjpAN/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAnDfrwr268xy6h0BSR0N4ZHGyTTtMyGClqnZ2M2kavkgipnMiVzn4YtflTkRyuVwSrq/ReqNHXl1m1Lb5LdcWxsmSJ6se10cic18ckavje3kVMWuXByK34oqAcIAAAAAAAB9qSkqqyqho6OGSpq6mRsNPTwtV8kkj1RrGMY1Fc5znLgiJ8QKP3UcH19rK9tw3if/AJlBSztwskMkc01YxrVc7PUU8jmwxq7K3mqr3Jm+ZzXKFa2u02q0UEVvtVHBb6CDNsaOliZDCzO5Xuyxxo1rcznK5cE+KgfqAAAAACK+NX3TtXcdP2yrAn8AAAAAKq4GPzt91/XAKqAAAAAAAAAAAACAOKP321N9B/D6cDKgAAAAAtXgq9rLr35UdjpAN/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAdf1joDRus6BtDqe0wXOGPHYvkRWzRZnNc7YzxqyWLMsbc2RyZkTBcUAwDWPBLanUDX6Lvs8dezHPT3lWSQy4uaiYTU0Ubosrc6/s35lwTm8qgYfqjh73wadqkgqNNVdwifJKyCqtbFr45GxKibTCnzyRtfmRWbVjHL/Zii4BnQAAB3Cwbn96V/kpG2vS1yliro0mpKuWnfT0r41ZtGvSqnSOBGuZytVX87kwxVUA3DQvBTX1ENPWa2vXUs/OmtFta2SZrXRIrWuq5MYmSMlXB6NikbgnNfy4oG9aD3I7tNDSR1Vis8f2pHGxi3Wqc6oqlc1jo3SMfIqthdI2R202LWNdjhhgiIgd6AAAAAAAAmDig3M7ytb6+t910xZ/tCggtUNLLN1mlhwmZU1Ejm5Z5YnfNlauOGHKBj/8AS5v28s/v1v8A4gB/S5v28s/v1v8A4gB/S5v28s/v1v8A4gB/S5v28s/v1v8A4gB/S5v28s/v1v8A4gCgOFLdbrvQn80/zXbPs77R6h1P9fTz59h1nafsJJcuXat+dh8eQDfwAAAAAAAAAAAAkDf3uE3saq3sX2/WGxdctNZ1Xq1T1qjizbKjhifzJZmPTB7HJytAz/8Apc37eWf363/xAD+lzft5Z/frf/EAP6XN+3ln9+t/8QA/pc37eWf363/xAD+lzft5Z/frf/EAVBwv6C1ZojQNwtWp6H7Pr57rNVRQ7WGbGF9NTxtdmgfK350Tkwxx5ANfAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAf/9k="
    $('img.sapos').each(function(){

        $(this).attr('src', 'data:image/png;base64, ' + imagens[$(this).attr('id')])

    });
</script>
<script>
    window.status = 'ready';
</script>
</body>
</html>